<div class="ui centered segment" id="form">
  <%= render 'shared/errors', obj: @user %>

  <%= form_with(model: @user, local: true) do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.label :username, "Username" %>
        <%= f.text_field :username, placeholder: "Enter a username" %>
      </div>
      <div id="button">
        <%= f.submit(@user.new_record? ? "Set Username" : "Update Username", class: "ui white inverted button") %>
      </div>
    </div>
  <% end %>
  <div id="back">
    <%= link_to '[ Cancel and return to user page ]', user_path(current_user) %>
  </div>
</div>