<div class="ui center aligned container">
  <h1>Cooking App Users</h1>

  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>

  <% @users.each do |user| %>
    <div class="ui centered card">
      <div class="content">
        <h2><%= link_to user.username, user %></h2>
        <p><%= pluralize(user.recipes.count, "recipe") %></p>
      </div>
      <div class="extra content">
        <%= link_to "View profile", user, class: "ui positive basic button" %>
          <% if logged_in? %>
            <% if user == current_user %>
              <%= link_to "Edit profile", edit_user_path(user), class: "ui primary basic button" %>
          <% end %>
            <% if current_user.admin? %>
              <%= link_to "Delete user", user_path(user), method: :delete, class: "ui negative basic button",
                          data: {confirm:"Are you sure you want delete the user account and associated recipes?"}%>
            <% end %>
          <% end %>
        <div class="extra content">
          <p></p>
          <p> Joined <%= time_ago_in_words(user.created_at) %> ago </p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>

</div>
