<div class="ui centered segment" id="form">
  <%= render 'shared/errors' %>

  <%= form_with(model: @ingredient,local: true) do |f| %>
    <div class="ui form">
      <div class="field">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div class="field">
        <%= f.label :amount, "Amount" %>
        <%= f.text_field :amount, placeholder: "Amount" %>
      </div>
      <div id="button">
        <%= f.submit class: "ui white inverted button" %>
      </div>
    </div>
  <% end %>
  <div id="back">
    <%= link_to '[ Cancel and return to ingredients listing ]', ingredients_path %>
  </div>
</div>