<h1>Create a new ingredient</h1>

<%= form_with scope: :ingredient, url: ingredients_path, local: true do |f| %>

  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Name" %>
  </p>
  <p>
    <%= f.label :amount, "Amount" %>
    <%= f.text_field :amount, placeholder: "Amount" %>
  </p>
  <p>
    <%= f.label :unit, "Unit" %>
    <%= f.text_field :unit, placeholder: "Unit" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>