<div class="ui center aligned container">
  <h2><%= @ingredient.name %></h2>
    <div class="ui centered card">
      <div class="content">
        <p><%= @ingredient.amount %></p>
      </div>
      <div class="extra content">
        <%= link_to "Edit", edit_ingredient_path(@ingredient), class: "ui primary basic button" %>
        <%= link_to "Delete", ingredient_path(@ingredient), class: "ui negative basic button", method: :delete, data: {confirm: "Are you sure?"} %>
        <div class="extra content">
          <p></p>
          <p> Created <%= time_ago_in_words(@ingredient.created_at) %> ago,
            edited <%= time_ago_in_words(@ingredient.updated_at) %> ago</p>
        </div>
      </div>
    </div>
</div>

