<div class="ui container">
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "Fridge", ingredients_path, class: "item" %>
  <div class="ui dropdown item">
    Recipes <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
          <%= link_to "Add recipe", new_recipe_path, class: "item" %>
        <% end %>
        <%= link_to "View recipes", recipes_path, class: "item" %>
      </div>
  </div>
  <%= link_to "Users", users_path, class: "item" %>

  <div class="right menu">
    <% if logged_in? %>
      <div class="ui dropdown item">
        Profile [<%= current_user.username %>]<i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "View Profile", user_path(current_user), class: "item" %>
          <%= link_to "Log out", logout_path, class: "item", method: :delete %>
        </div>
    <% else %>
      <%= link_to "Log in", login_path, class: "item" %>
      <% end %>
      </div>
    <div class="item">
      <%= link_to "Sign Up", signup_path, class: "ui primary button" %>
    </div>
  </div>
</div>