<div class="ui container">
  <%= link_to "Home", root_path, class: "item" %>
  <%= link_to "Fridge", ingredients_path, class: "item" %>
  <div class="ui dropdown item">
    Recipes <i class="dropdown icon"></i>
    <div class="menu">
      <% if user_signed_in? %>
        <%= link_to "Add recipe", new_recipe_path, class: "item" %>
      <% end %>
      <%= link_to "View recipes", recipes_path, class: "item" %>
    </div>
  </div>
  <%= link_to "Users", users_path, class: "item" %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="ui dropdown item">
      Units <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to "Add unit", new_unit_path, class: "item" %>
        <%= link_to "View units", units_path, class: "item" %>
      </div>
    </div>
  <% end %>
  <div class="right menu">
    <% if user_signed_in? %>
      <div class="ui dropdown item">
        <%= "(Admin)" if current_user.admin? %> Profile <%= current_user.username %><i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "View Profile", user_path(current_user), class: "item" %>
          <%= link_to "Log out", destroy_user_session_path, class: "item", method: :delete %>
        </div>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "item" %>
    <% end %>
    </div>
    <div class="item">
      <%= link_to "Sign Up", new_user_registration_path, class: "ui primary button" %>
    </div>
  </div>
</div>